@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff9f3;
}

.headerNavLink::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.12rem;
  border-radius: 15%;
  background-color: #ffffff;
  bottom: -0.25rem;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.headerNavLink:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.authorCard::after {
  content: "";
  position: absolute;
  z-index: -50;
  top: 0.25rem;
  right: 0.25rem;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #da2c38;
}

.authorCard::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0.25rem;
  left: 0.25rem;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #347bb1;
}
